@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root{
    --Yellow:#ff9500;
    --White :#ffffff;
    --Black : #000000;
    --lightBlack: #383838;
}

/* General styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: var(--White);
}

.nav-bar {
    display: flex;
    justify-content: space-between; 
    align-items: center; /* Center items vertically */
    height: 70px;
    background-color: var(--Black);
}

.logo-m {
    color: var(--Yellow);
}
.logo-nav {
    margin-left: 50px;
}
.nav-items ul {
    list-style-type: none; /* Remove bullets */
    padding: 0; /* Remove default padding */
    margin: 0; /* Remove default margin */
    display: flex; /* Use flexbox for horizontal alignment */
    gap: 40px;
}

.nav-items {
    margin-right: 50px; /* Add space between list items */
}


.nav-items ul li a {
    font-weight: bold;
    text-decoration: none; /* Remove underline */
    color: inherit; /* Inherit text color */
}

.nav-items ul li:hover {
    color: var(--Yellow); /* Change to your desired text color */
}



/*home*/

#particles-js {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1; /* Set a lower z-index */
}

.homesec{
    background-color: var(--Black);
    display: flex;
    padding: 0px 150px; /* top/bottom padding first, then left/right padding */
    gap: 150px;
    position: relative; /* Ensure relative positioning for absolute child */
    z-index: 0; /* Set a lower z-index */
}

.img-container {
    position: relative; /* Ensure relative positioning for absolute child */
    z-index: 1; /* Set a higher z-index */
}

.img-container img {
    max-width: 540px; /* This will make the image scale down if it's wider than its container */
    height: auto; /* This will maintain the aspect ratio */
}

.hometextandbtncontainer {
    position: relative; /* Ensure relative positioning for absolute child */
    z-index: 1; /* Set a higher z-index */
    display: flex;
    flex-direction: column;
    align-items: center; /* Center items horizontally */
    justify-content: center; /* Center items vertically */
    text-align: center; /* Center text */
}

.hometextdiv h3 {
    color: var(--Yellow);
    font-size: 60px;
    letter-spacing: 10px;
    font-weight: lighter;
}

.hometextdiv h1 {
    font-size: 45px;
}

.hometextdiv h4 {
    font-size: 25px;
}

.homebtncontainer {
    display: flex;
    justify-content: center;
    gap: 40px; /* Adjust the gap between buttons */
}

.ContactMe-btn {
    width: 150px;
    height: 50px;
    border-radius: 30px;
    background-color: var(--Yellow);
    color: var(--White);
    font-size: 13px;
    border: 2px solid var(--Yellow);
    transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease; 
}

.ContactMe-btn:hover {
    background-color: transparent;
    color: var(--White);
    border: 2px solid var(--White);
}


.myprojects-btn {
    width: 150px;
    border-radius: 30px;
    font-size: 13px;
    background-color: transparent;
    color: var(--White);
    border: 2px solid var(--White);
    transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease; 
}

.myprojects-btn:hover {
    background-color: var(--Yellow);
    color: var(--Black);
    border: 2px solid var(--Yellow);
}



/*home*/

 /*About Me */

 #about {
    background-color: var(--lightBlack); /* Choose your desired background color */
    padding: 20px 150px 30px 150px; /* top right bottom left */
}


 .aboutme-title {
    text-align: center;
    font-size: xx-large;
}

.About-yellow {
    color: var(--Yellow);
}

.fas.fa-user {
    color: blue; /* For example, set the color to blue */
    font-size: 24px; /* Set the font size */
}

.content-container {
    display: flex;
}

.text-container {
    margin-left: 20px; /* Adjust the margin as needed */
    width: 1000px;
}

.profile-picture {
    width: 350px; /* Set the desired width */
}

.whyme-title {
    color: var(--Yellow);
}

.ProfessionalDesigner-title {
    font-size: x-large;
}

.about-Contact-me {
    background-color: var(--Yellow);
    color: var(--White);
    width: 150px;
    height: 40px;
    border: none;
    border-radius: 50px;
    font-size: medium;
    margin-top: 20px;
}

/*service section*/

#service {
    background-color: var(--Black);
    padding: 30px 270px; /* Adjusted padding */
}

.GraphicDesign-box,
.WebDevelopment-box,
.WebDesign-box,
.Customer-Support-box,
.service-box {
    padding: 70px; /* Add padding inside the box */
    margin-bottom: 20px; /* Add some space between service boxes */
    background-color: #141414; /* Set background color */
    width: 300px;
    text-align: center;
    box-shadow: 5px 5px 10px rgba(255, 255, 255, 0.18); /* Add box shadow */
}

.myservice-title {
    text-align: center;
    font-size: xx-large;
}

.service-container {
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Three columns */
    gap: 0px 20px;
}

/*Project section*/

#projects {
    background-color: var(--lightBlack);
    padding: 30px 260px; /* Adjusted padding */
}

.Projects-title {
    text-align: center;
    font-size: xx-large;
}

.project-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Three columns */
}

.project-container img {
    width: 100%; /* Set the width of the images to 100% of their container */
    width: 460px; /* Set a maximum width for the images */
    height: auto; /* Maintain the aspect ratio */
}

/*Assignment section*/

#assignments {
    background-color: var(--Black);
    padding: 30px 120px; /* Adjusted padding */
}

.Assignment-title {
    text-align: center;
    font-size: xx-large;
}

.Assignment-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr); /* Three columns */
    gap: 10px 10px;
}

.Assignment-container img {
    width: 300px; /* Set the width of the images */
    height: 300px; /* Set the height of the images to match the width */
    object-fit: cover; /* Maintain aspect ratio and crop as needed */
}


/*Skill section*/

#Skill {
    background-color: var(--lightBlack);
    padding: 40px 120px; /* Adjusted padding */
}

.skill-title {
    text-align: center;
    color: var(--Yellow);
    font-size: xx-large;
}

.Skill-container {
    display: flex;
    justify-content: center; /* Center the images horizontally */
    gap: 80px; /* Add a gap between images */
}

.Skill-container img {
    width: 100px; /* Set the width of the images */
    height: auto; /* Maintain aspect ratio */
}

/*Contact section*/

#contact {
    background-color: var(--Black);
    padding: 40px 120px; /* Adjusted padding */
}

.contact-title {
    text-align: center;
    font-size: xx-large;
}

.contact-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Align items to the left side */
}

.inputname,
.inputemail,
.inputnumber {
    width: 600px;
    padding: 10px;
    margin-bottom: 5px;
    border: 1px solid #ccc;
    outline: none;
    background-color: #d6d6d6;
}

.contact-container button {
    width: 150px;
    padding: 10px;
    margin-bottom: 5px;
    border-radius: 50px;
    outline: none;
}

.inputmsg {
    width: 600px;
    height: 100px;
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    outline: none;
    background-color: #d6d6d6;
    color: var(--White);
}

.inputname::placeholder,
.inputemail::placeholder,
.inputnumber::placeholder,
.inputmsg::placeholder {
    color: #b1b1b1; /* Change the placeholder text color */
}


.inputname:focus,
.inputemail:focus,
.inputnumber:focus,
.inputmsg:focus {
    border-color: var(--Yellow);
}

.contact-container button {
    background-color: var(--Yellow);
    color: var(--White);
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.contact-container button:hover {
    background-color: var(--Yellow);
    color: var(--Black);
}

/*About footer section*/

#aboutfooter {
    background-color: var(--lightBlack);
    padding: 40px 50px; /* Adjusted padding */
    display: flex;
    gap: 50px;
    justify-content: center; /* Center items horizontally */
}


.footone{
    width: 400px;
}
.foottwo{
    width: 240px;
}
.footthree {
    width: 250px;
}

.footthree ul,
.foottwo ul {
    list-style-type: none; /* Remove the bullet points */
}

.footthree ul li{
    margin: 15px;
    font-size: larger;
}
.foottwo ul li {
    margin: 15px;
}

.foottwo ul li a {
    text-decoration: none;
    color: inherit; /* Ensure links inherit text color */
    font-size: larger;
}

.abdate {
    font-size: small;
    color: #b1b1b1;
}

.title-UsefullLinks {
    text-align: center;
}

.title-LatestNews {
    text-align: center;
}

.titlethreediv {
    margin-right: 1px;
}

footer {
    padding: 40px;
    text-align: center; /* Center align the text */
    font-size: x-large; /* Adjust the font size */
    background-color: var(--Black);
    color: var(--White);
}

/* CSS for screens narrower than 769px */
@media only screen and (min-width: 769px) {
    .fa-bars {
      display: none; /* Hide the bars icon */
    }
  }

  /*ipad pro */
  @media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (min-device-height: 1366px) and (max-device-height: 1366px) and (-webkit-min-device-pixel-ratio: 2) {

    .logo-nav {
        margin-left: 50px;
    }

    .nav-items ul {
        gap: 20px;
    }

    .nav-items {
        margin-right: 20px;
    }

    .logo-nav {
        margin-left: 20px;
    }

    /*home*/

    .homesec{
        padding: 0px 40px; 
        gap: 10px;
    }

    .img-container img {
        max-width: 440px;
    }

    .hometextdiv h3 {
        font-size: 35px;
        letter-spacing: 4px;
    }
    
    .hometextdiv h1 {
        font-size: 30px;
    }
    
    .hometextdiv h4 {
        font-size: 20px;
    }

    .ContactMe-btn {
        width: 130px;
        height: 40px;
    }

    .myprojects-btn {
        width: 130px;
    }
    

    /*home*/

    /*aboutme*/
    .profile-picture {
        width: 300px;
        height: 300px; /* Set the desired width */
    }
    /*aboutme*/

     /*service*/
     #service {
        background-color: var(--Black);
        padding: 30px 150px; /* Adjusted padding */
    }
    
    .GraphicDesign-box,
    .WebDevelopment-box,
    .WebDesign-box,
    .Customer-Support-box,
    .service-box {
        padding: 20px; /* Add padding inside the box */
    }
    
    .service-container {
        grid-template-columns: repeat(2, 1fr); /* Three columns */
    }

        /*Project section*/

#projects {
    padding: 30px 150px; /* Adjusted padding */
}

.project-container {
    grid-template-columns: repeat(2, 1fr); 
}

.project-container img {
    width: 360px; /* Set a maximum width for the images */
}

/*Assignment section*/

#assignments {
    padding: 30px 80px; /* Adjusted padding */
}

.Assignment-container {
    grid-template-columns: repeat(4, 1fr); /* Three columns */
}

.Assignment-container img {
    width: 200px; 
    height: 200px; 
}

/*Skill section*/

#Skill {
    padding: 40px 120px; /* Adjusted padding */
}

.Skill-container {
    gap: 40px; /* Add a gap between images */
}

.Skill-container img {
    width: 70px; /* Set the width of the images */
}

/*Contact section*/

#contact {
    padding: 40px 200px; /* Adjusted padding */
}

/*About footer section*/

#aboutfooter {
    padding: 20px 10px; /* Adjusted padding */
    gap: 30px;
}

.footone{
    width: 280px;
}
.foottwo{
    width: 200px;
}
.footthree {
    width: 200px;
}

}

/* Media query for MacBook Pro 13-inch (Retina) */
@media only screen and (max-width: 1024px){
    /*navbar*/
    /*navbar*/
    /*home*/
    /*home*/
}

@media only screen and (max-width: 768px){
    /*navbar*/
    .nav-items {
        display: none;
    }
    .fa-bars {
        font-size: 25px; 
        margin-right: 50px;
        color: var(--Yellow);
      }

    /*navbar*/

       /*home*/

       .homesec{
        display: flex;
        padding: 0px 30px;
        gap: 10px;
    }
    .img-container img {
        max-width: 360px;
    }

    .hometextdiv h3 {
        font-size: 20px;
        letter-spacing: 3px;
        font-weight: bold;
    }
    
    .hometextdiv h1 {
        font-size: 18px;
    }
    
    .hometextdiv h4 {
        font-size: 15px;
    }

    .ContactMe-btn,
    .myprojects-btn {
        width: 100px;
        height: 30px; /* Set the height of buttons */
        margin-top: 10px; /* Add some margin between buttons */
    }

    /*home*/

    /*aboutme*/
    #about {
        padding: 20px 20px 30px 20px; /* top right bottom left */
        display: flex;
        align-items: center;
        flex-direction: column;
        text-align: center;
    }
    .aboutme-title {
        font-size: medium;
    }
    .content-container {
        display: grid;
    }
    .profile-picture {
        width: 300px; /* Set the desired width */
    }
    .text-container {
        margin-left: 0px; /* Adjust the margin as needed */
        max-width: 300px;
    }
    .whyme-title {
        font-size: larger;
    }
    .ProfessionalDesigner-title {
        font-size: large;
    }

    .text-container p {
        font-size: small;
    }
    /*aboutme*/

    /*my service*/
    #service {
        padding: 30px 20px; /* Adjusted padding */
        display: flex;
        align-items: center;
        flex-direction: column;
    }

     .GraphicDesign-box,
     .WebDevelopment-box,
     .WebDesign-box,
     .Customer-Support-box,
     .service-box {
        padding: 20px; /* Add padding inside the box */
        max-width: 240px;
      }

      .service-container {
       grid-template-columns: repeat(2, 1fr); /* Three columns */
       }

 /*my service*/
/*my project*/
#projects {
    padding: 30px 20px; /* Adjusted padding */
    display: flex;
    align-items: center;
    flex-direction: column;
}

.project-container {
    grid-template-columns: repeat(2, 1fr); /* Three columns */
}

.project-container img {
    width: 280px; /* Set a maximum width for the images */
}
 /*my project*/
 /*my assignment*/
 #assignments {
    padding: 30px 20px; /* Adjusted padding */
    display: flex;
    align-items: center;
    flex-direction: column;
}

.Assignment-title {
    font-size: x-large;
}

.Assignment-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Three columns */
    gap: 10px 10px;
}

.Assignment-container img {
    width: 150px; /* Set the width of the images */
    height: 150px; /* Set the height of the images to match the width */
}

  /*my assignment*/
}
